body{
    background-color: rgb(133, 38, 0);
    font-family: "Trebuchet MS", Arial;
    color: white;
    max-width: 700em;
    margin:auto;
    padding: 20px;
}
.recetas{
    display: flexbox;
    background-color: rgb(168, 73, 14);
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20em;
    margin-right: 20em;

}
h1{
    text-align: center;
    color:white;
    background-color: rgb(255, 81, 0);
    border-radius: 30px;
    border:6px solid rgb(200, 86, 15);
    margin-right: 9em;
    margin-left: 8em;
    font-size: 45px;
}
table{
   width:600px;
   text-align: center;
   background-color: rgb(227, 115, 46);
   border-collapse: collapse;
   margin-top: 70px;
}
table th{
    font-weight: bolder;
     background-color: rgb(168, 73, 14);
}
.imagenes{
    border: 6px solid  rgb(255, 81, 0);
    border-radius: 30px;
    width: 30%;
    float: right;
    margin-right: 95px;
    margin-top: -6em;
}
.cookie-imagen{
    margin-right: 1em;
    margin-top: -9em;
}
.imagen-budin{
    margin-right: 3em;
    margin-top: -5em;
}
.imagen-brownie{
    margin-right: 3em;
    margin-top: -6em;
    height: 40%;
}
#contenidos{
    background: rgb(211, 118, 52);
    border:8px solid rgb(168, 73, 14);
    padding:10px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 30px;
    margin-top: 20px;
    margin-left:25em;
    margin-right: 25em;
}
ul{
    font-size:20px;
}
.preparation-steps{
    background: rgb(211, 118, 52);
    width: 60%;
    padding:20px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 30px;
    margin-top: 20px;
}

.titulos{
    font-size: 30px;
    border: 10px double rgb(168, 73, 14);
    background-color:  rgb(211, 118, 52);
    margin-right: 10em;
     padding-left: 11px;
}
#receta-pancakes{
    margin-inline-end: 15em;
    padding-left: 20px;
}
#receta-cookies{
     margin-inline-end: 9em;
    padding-left: 20px;
}
#receta-brownie{
    margin-inline-end: 12em;
    padding-left: 20px;
    margin-left: 30px;
    
}
#frase-final{
     background: rgb(255, 81, 0);
    padding:20px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 30px;
    margin-top: 20px;
    margin-right: 25em;
    margin-left: 25em;
    font-size: 20px;
    font-family: "Georgia", sans-serif;
    text-align: center;
}
.steps-brownie{
    padding-right: 90px;
   
}
#brownie-ingredients{
    margin-top: 20%;
    
}